@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

.font-ex {
    font-size: larger;
    font-family: 'Ubuntu', sans-serif;
}

.image-resize {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

